{% extends 'patitasLove/base.html' %}
{% load static %}
{% block contenido %}

<!-- Contenido principal -->
<div class="container mx-auto px-4 mt-24 mb-24">
    <h1 class="text-3xl font-bold my-16">Carrito de Compras</h1>

    <!-- Lista de productos en el carrito -->
    <div class="grid grid-cols-1 gap-8">
        <!-- Producto 1 -->
        <div class="bg-white rounded-lg shadow-md p-4 flex items-center justify-between">
            <div>
                <h2 class="text-lg font-semibold">Producto 1</h2>
                <p class="text-gray-500">Precio: $10.00</p>
            </div>
            <div class="flex items-center">
                <input type="number" class="w-16 h-10 border-gray-300 border rounded-md text-center" value="1">
                <button class="ml-4 bg-pink-600 text-white px-4 py-2 rounded-md hover:bg-pink-700">Eliminar</button>
            </div>
        </div>

        <!-- Producto 2 -->
        <div class="bg-white rounded-lg shadow-md p-4 flex items-center justify-between">
            <div>
                <h2 class="text-lg font-semibold">Producto 2</h2>
                <p class="text-gray-500">Precio: $20.00</p>
            </div>
            <div class="flex items-center">
                <input type="number" class="w-16 h-10 border-gray-300 border rounded-md text-center" value="1">
                <button class="ml-4 bg-pink-600 text-white px-4 py-2 rounded-md hover:bg-pink-700">Eliminar</button>
            </div>
        </div>
    </div>

    <!-- Total y botón de pagar -->
    <div class="my-16 flex justify-end">
        <h2 class="text-lg font-semibold mr-8">Total: $30.00</h2>
        <button class="bg-pink-600 text-white px-8 py-3 rounded-md hover:bg-pink-700">Pagar</button>
    </div>
</div>

{% endblock %}