{% extends 'patitasLove/base.html' %}
{% load static %}
{% block contenido %}

<!-- Contenido principal -->
<div class="container mx-auto px-4 mt-24 mb-24">
    <h1 class="text-3xl font-bold my-16">Carrito de Compras</h1>

    <!-- Lista de productos en el carrito -->
    <div class="grid grid-cols-1 gap-8">
        <!-- Producto 1 -->
        {% for item in items %}

        <div class="bg-white rounded-lg shadow-md p-4 flex items-center justify-between">
            <div>
                <h2 class="text-lg font-semibold">{{item.producto.nombre}}</h2>
                <p class="text-gray-500">{{item.producto.precio}}</p>
            </div>
            <div class="flex items-center">
                <input type="" readonly class="w-16 h-10 border-gray-300 border rounded-md text-center"
                    value="{{item.cantidad}}">
                <!-- <button class="ml-4 bg-pink-600 text-white px-4 py-2 rounded-md hover:bg-pink-700">Eliminar</button> -->
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Total y botón de pagar -->
    <form class="my-16 flex justify-end" action="{% url 'crear_venta' %}" method="POST">
        {% csrf_token %}
        <input name="carrito_items" value="{{ data|safe }}">
        <h2 class="text-lg font-semibold mr-8">Total: {{total}}</h2>
        <button type="submit" class="bg-pink-600 text-white px-8 py-3 rounded-md hover:bg-pink-700">Pagar</button>
    </form>
</div>

{% endblock %}